<h1>Log in for Company</h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>


<section class="wrapper skinny-wrapper">
    <%= form_with(scope: :session, url: login_path) do |f| %>

    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: "Username:" %>

    <br>

    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Password:" %>

    <br>

    <%= f.submit 'Log in', class: "button" %>
    <% end %>
</section>