
 <%= render partial: 'shared/errors', locals: {obj: @user} %> 



<section class="wrapper skinny-wrapper">
    <%= form_for @user do |f| %>

    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: "Username:" %>

    <br>

    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Password:" %>

    <br>

    <%= f.submit btn, class: "button" %>
    <% end %>
</section>

