<%= render partial: 'shared/nav' %>

<section class="title">
    <h2>Your profile: </h2>
</section>


<div class="user__table">
    <div class="box">  
        <div class="gravatar__img"><%= link_to gravatar_for(current_user, size: 150), current_user %></div>
        <h4><%= link_to current_user.username, current_user %></h4>
        <p class="count__ticket"><%= pluralize(current_user.tickets.count, "tickets") %></p>
        <% if logged_in? && (@user == current_user || current_user.admin? )%>
        <p><%= link_to "Edit profile", edit_user_path(@user) %></p>
        <%end%>
        <small> Join: <%= time_ago_in_words(current_user.created_at) %> </small>
    </div>
</div>


<section class="title">
    <h2>Your tickets: </h2>
</section>


<%= render 'tickets/ticket' %>