

 <section class="title">
     <h2> <%= title %></h2>
   </section>

<%= render partial: 'shared/errors', locals: {obj: object} %>

<section class="wrapper skinny-wrapper">
    <%= form_for object do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name, requrie: true, placeholder: "Name:" %>

    <br>

    <%= f.label :description %><br>
    <%= f.text_field :description, placeholder: "Description:" %>

    <br>

    <%= f.label :city %><br>
    <%= f.text_field :city,placeholder: "City:" %>
    
    <br>
    
  
    <%= f.label :important %><br>
    <%= f.check_box :important, placeholder: "True or False:" %>

    <br>
    <br>

    <%= f.submit btn, class: "button" %>
    <% end %>
</section>

<%= link_to "Back to tickets", tickets_path, class: "toTickets" %>