<table class="content-table">
    <thead>
    <tr>
        <th><%= link_to "Add new ticket", new_ticket_path, class: "btnTicket" %></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: black;">Search by name: </th>
        <th>
            <%= form_tag(tickets_path, method: :get) do %>
                <%= text_field_tag(:search, params[:search]) %>
                <%= submit_tag ("Search") %>  
            <%end%>    
        </th>
        <th colspan = 2><%= link_to "Advanced Search", new_search_path, class: "btnTicket" %></th>
    </tr>
    </thead>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>City</th>
            <th>User</th>
            <th>Important</th>
            <th>Status</th>
            <th colspan =2>Options</th>
        </tr>
    </thead>
    <tbody>
        <% @tickets.each do |ticket| %>
        <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.description %></td>
            <td><%= ticket.city %></td>
            <% if ticket.user %>
                    <td><%= ticket.user.username %></td>
            <%else%>
                    <td> -- </td>   
            <%end%>
            
            <% if ticket.important %>
                    <td class="important_ticket"> <i class="fas fa-check"></i> </td>
            <%else%>
                    <td> -- </td>   
            <%end%>
            <td><%= ticket.status.name %></td>
            <td><%= link_to "Done", ticket_path(ticket), method: :delete %></td>
            <td><%= link_to "Edit", edit_ticket_path(ticket.id) %></td>
        </tr>
        <%end%>

    </tbody>
</table>
