<%= render partial: 'shared/errors', locals: {obj: @ticket} %>

 <section class="title">
     <h2>Update</h2>
   </section>

<section class="wrapper skinny-wrapper">
    <%= form_with model: @ticket do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name, requrie: true, placeholder: "Name:" %>

    <br>

    <%= f.label :description %><br>
    <%= f.text_field :description, placeholder: "Description:" %>

    <br>

    <%= f.label :city %><br>
    <%= f.text_field :city,placeholder: "City:" %>
    
    <br>
    
  
    <%= f.label :important %><br>
    <%= f.check_box :important, placeholder: "True or False:" %>

    <br>
    <br>
    <%= f.label "Choose a user for ticket:" %><br>
    <br>
    <%= f.select :user_id, User.all.map{ |u| [u.username, u.id] } %>
    <br>
    <br>
    <%= f.label "Status:" %><br>
    <br>
    <%= f.select :status_id, Status.all.map{|s| [s.name, s.id]}, prompt: "Status:" %>
    <br>
    <br>

    <%= f.submit "Update", class: "button" %>
    <% end %>
</section>

<%= link_to "Back to tickets", tickets_path, class: "toTickets" %>