<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>


<nav class="navigation">
    <div class="logo">
        <h4>Company</h4>
    </div>
    <ul class="nav">
        <li><%= link_to "Home", tickets_path, class: "elem" %></li>
        <li><%= link_to "Account - #{current_user.username}" , user_path(current_user.id), class: "elem" %></li>
    </ul>
</nav>


<section class="title">
    <h2>Tickets</h2>
</section>

<table class="content-table">
    <thead>
        <th><%= link_to "Add new ticket", new_ticket_path %></th>
        <th></th>
        <th>Search a ticket: </th>
        <th>
            <%= form_tag(tickets_path, method: :get) do %>
                <%= text_field_tag(:search, params[:search]) %>
                <%= submit_tag ("Search") %>  
            <%end%>    
        </th>
        <th><%= link_to "Advanced Search", new_search_path %></th>
    </thead>
    <thead class="">
        <tr>
            <th>ID ticket</th>
            <th>Name</th>
            <th>Description</th>
            <th>City</th>
            <th>Important</th>
        </tr>
    </thead>
    <tbody>
        <% @tickets.each do |ticket| %>
        <tr>
            <td><%= ticket.id %></td>
            <td><%= ticket.name %></td>
            <td><%= ticket.description %></td>
            <td><%= ticket.city %></td>
            <% if ticket.important %>
                    <td class="important_ticket"> <%= ticket.important %> </td>
            <%else%>
                    <td> - </td>   
            <%end%>
        </tr>
        <%end%>

    </tbody>
</table>


