<%= render partial: 'shared/errors', locals: {obj: @search} %>

 <section class="title">
     <h2>Advanced Search</h2>
   </section>

<section class="wrapper skinny-wrapper">
    <%= form_with model: @search do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name, requrie: true, placeholder: "Name:" %>

    <br>

    <%= f.label :description %><br>
    <%= f.text_field :description, placeholder: "Description:" %>

    <br>
  
    <%= f.label :important %><br>
    <%= f.text_field :important, placeholder: "True or False:" %>
    
    <br>

    <%= f.label :city %><br>
    <%= f.text_field :city,placeholder: "City:" %>
    
    <br>

    <%= f.submit 'Search', class: "button" %>
    <% end %>
</section>

<%= link_to "Back to tickets", tickets_path, class: "toTickets" %>