<%= render partial: 'shared/nav' %>

<% if @search.search_tickets.empty? %>

   <section class="title">
     <h2>No records found</h2>
   </section>

<%else%> 

    <section class="title">
     <h2>Results</h2>
   </section>

    <table class="content-table">
    <thead >
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>City</th>
                <th>User</th>
                <th>Important</th>
                <th>Status</th>
                <%if current_user.admin? %>
                    <th colspan =2 >Options</th>
                <%else%>
                    <th>Options</th>
                    <th></th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% @search.search_tickets.each do |search| %>
            <tr>
                <td><%= search.name %></td>
                <td><%= search.description %></td>
                <td><%= search.city %></td>
                 <% if search.user %>
                    <td><%= search.user.username %></td>
                <%else%>
                        <td> -- </td>   
                <%end%>
                
                <% if search.important %>
                        <td class="important_ticket"> <i class="fas fa-check"></i> </td>
                <%else%>
                        <td> -- </td>   
                <%end%>
                <td><%= search.status.name %></td>
                <%if current_user.admin? %>
                    <td><%= link_to "Done", ticket_path(search), method: :delete %></td>
                    <td><%= link_to "Edit", edit_ticket_path(search.id) %></td>
                <%else%>
                    <td><%= link_to "Done", ticket_path(search), method: :delete %></td>
                    <td></td>
                <%end%>
            </tr>
            <%end%>

        </tbody>
    </table>
<%end%>
<%= link_to "Back to tickets", tickets_path, class: "toTickets" %>